.app {
  font-family: sans-serif;
  text-align: center;
}

.correct {
  font-size: 100%;
  outline: #008000 solid 2px;
  margin: auto;  
  padding: 10px;
  text-align: left;
}

.incorrect {
  font-size: 100%;
  outline: #FF0000 solid 2px;
  margin: auto;  
  padding: 8px;
  text-decoration: line-through;
  text-align: left;
}

li {
font-size: 100%;
text-align: left;
margin: auto;  
padding: 8px;
}

li:hover {
  background-color: #E8E8E8;
}

/* .summary {
  font-size: 150%;
  font-color: blue;
} */
